.copyButton {
   margin-top: 10px;
   width: 150px;
   height: 60px;
   color: green;
}

.clearButton {
   margin-top: 10px;
   width: 150px;
   height: 60px;
   color: red;
}

.standardButton {
   margin-top: 10px;
   width: 150px;
   height: 60px;
}

.system-buttons-container {
   position: fixed;
   display: flex;
   flex-direction: column;
   bottom: 0;
   left: 0;
}

.buttons-container {
   position: fixed;
   display: flex;
   flex-direction: column;
   bottom: 0;
   right: 0;
}

.hiddenInput {
   width: 200px;
   border-radius: 2px;
   display: inline-block;
   height: 50px;
   margin: 0;
   font-size: 16px;
   border: 1px solid #eee;
   padding: 0 4px;
}

.hiddenDiv {
   margin-bottom: 10px
}

/* Example Styles for React Tags*/
#app {
 padding: 40px;
}

div.ReactTags__tags {
   position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
   width: 200px;
   border-radius: 2px;
   display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
   height: 50px;
   margin: 0;
   font-size: 16px;
   width: 100%;
   border: 1px solid #eee;
   padding: 0 4px;
}

span.tag-wrapper {
   margin-left: 5px;
   margin-top: 5px;
}
/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
   border: 1px solid #ddd;
   background: #eee;
   font-size: 16px;
   display: inline-block;
   padding: 10px;
   cursor: move;
   border-radius: 2px;
}
div.ReactTags__selected button.ReactTags__remove {
   color: #aaa;
   margin-left: 5px;
   cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
   position: absolute;
}
div.ReactTags__suggestions ul {
   list-style-type: none;
   box-shadow: .05em .01em .5em rgba(0,0,0,.2);
   background: white;
   width: 200px;
}
div.ReactTags__suggestions li {
   border-bottom: 1px solid #ddd;
   padding: 5px 10px;
   margin: 0;
}
div.ReactTags__suggestions li mark {
   text-decoration: underline;
   background: none;
   font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
   background: #b7cfe0;
   cursor: pointer;
}